<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    @Html.Partial("~/Views/Shared/_TopNavigation.cshtml")

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="~/Content/images/seeds.jpg" alt="seeds" class="seeds_blur" />
          <div class="container">              
            <div class="carousel-caption jumbotron" style="background-color:orangered;padding:4px;">
              <h1>Seeds</h1>
              <p>
                  This is where ideas are planted. Whether well baked or high level thoughts, clients come here to begin the process of forming an idea. Work together in internal teams 
                  or collaborative cross company units to develop innovations. Organizations like Filene and other strategic partners will funnel ideas to this layer to capture attention 
                  and garner collaboration. Ideas are then voted on and once formalized will move to the fertilizer channel. 
              </p>
              <p>
                  @*<a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>*@
                  @Html.ActionLink("Learn more", "Index", "Seeds", null, new { @class="btn btn-lg btn-success" })
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/turf-fertilizer.jpg" alt="fertilizer" />
          <div class="container">
            <div class="carousel-caption jumbotron" style="background-color:orangered;padding:12px;">
              <h1>Fertilizer</h1>
              <p>
                  This is where ideas go to be funded. Individuals or groups may fund an idea and those who fund capture a portion of the ongoing revenue. The ideas in this channel must 
                  provide basic business plan data for potential investors to review. Videos appreciated. 
              </p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/sprouts.jpg" alt="sprouts" />
          <div class="container">
            <div class="carousel-caption jumbotron" style="background-color:orangered;padding:1px;">
              <h1>Sprouts</h1>
              <p>
                  This is where developed and supported products go to be sold and improved. Sold products are kept lean to benefit the community and pricing is based on the complexity 
                  of the front end development. Customization, training, documentation and support are provided for a monthly subscription fee. Hosting and other infrastructure needs 
                  are referred. Improvements made through customization go to all subscribers. Derivatives get paid for ideas that become the foundation for new applications. 
              </p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="~/Content/images/forest.jpg" alt="forest" />
          <div class="container">
            <div class="carousel-caption jumbotron" style="background-color:orangered;padding:1px;">
              <h1>Forest</h1>
              <p>For companies that have the ability to contribute open source programming and coding, this site hosts a vertically focused open source community. </p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    @RenderBody()

    @Html.Partial("~/Views/Shared/_Footer.cshtml")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
