@model Sprout.Data.Domain.Project

@{
    ViewBag.Title = Model.ProjectName;
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@*<h2 class="page-header" style="margin-top:95px;">@ViewBag.Title <small>by admin</small></h2>*@

<div class="jumbotron" style="margin-top:105px; background-color:#F7FAFA">
    <div class="container">
        <div class="row" style="margin-bottom:30px">
            <h1 class="text-center">@ViewBag.Title <br /><small>by @Model.ProjectOriginator</small></h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="img-thumbnail">
                    <img alt="project pic" style="height:220px; display:block;" src="~/Content/images/project_pictures/@Model.TitleThumbImageLink"><p />
                </div>
                <p class="lead">@Model.Summary</p>

                <p class="lead">@Model.Description</p>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color:#5CB85C;">
                        <h2 class="panel-title">Project stats</h2>
                    </div>
                    <div class="panel-body">
                        <div class="project-stats no-margin no-wrap">
                            <div class="lead"><strong class="block">@Model.PercentageFunded%</strong> <span>funded</span></div><p />
                            <div class="lead"><strong class="block">$@Model.AmountFunded</strong> <span>pledged</span></div><p />
                            <div class="lead"><strong class="block">30</strong> <span>days to go</span></div>
                        </div>

                        <div class="text-center">
                            <div class="btn btn-success btn-lg">Back this project</div><p />
                        </div>
                        <div>This project will only be funded if $@Model.FundingGoal is pledged by December 6th, 2014.</div>
                    </div>
                </div>
                
                <div class="panel panel-primary" style="background-color:#E8F6FF;">
                    <div class="panel-heading" style="background-color:#5CB85C;">
                        <h2 class="panel-title">Project creator bio</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img alt="140x140" class="img-circle" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="~/Content/images/project_pictures/@Model.TitleThumbImageLink" data-holder-rendered="true">
                            </div>
                            <div class="col-md-6">
                                <br/>
                                    <strong>Project by</strong><br /><br />
                                    <strong>@Model.ProjectOriginator</strong><br />
                                    <strong>@Model.Location</strong><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-10">
                <div>
                    <div>
                        <p><strong>Need more info?</strong> Click the button below to ask a question.</p>
                    </div>
                    <div class="btn btn-primary">Ask a question</div><p />
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="img-thumbnail">
                <img alt="100%x200" data-src="holder.js/100%x200" style="height:200px; display:block;" src="~/Content/images/project_pictures/8_m.jpg">
                <div class="caption">
                    <h3>Project label</h3>
                    <h5>by admin</h5>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Baltimore, MD</p>                                
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                    </div>
                    <div>
                        <div class="project-stats no-margin no-wrap">
                            <div class="inline-block"><strong class="block">20%</strong> <span>funded</span></div>
                            <div class="inline-block"><strong class="block">$2000</strong> <span>pledged</span></div>
                            <div class="inline-block"><strong class="block">30</strong> <span>days to go</span></div>
                        </div>
                    </div>
                    <p><a class="btn btn-primary btn-xs" role="button" href="~/Projects/">Learn more about this project</a></p>                                
                </div>                    
            </div>
        </div>
    </div>
</div>*@
